.login-label {
  color: var(--accent-color);
  float: left;
  font-size: 1.25rem;
  margin-left: 5px;
}

.login-input {
  height: 50px;
  min-height: 30px;
  width: 100%;
  border-radius: 15px;
  background-color: var(--main-shade-color);
  border: 2.5px solid var(--accent-color);
  color: var(--accent-color);
}

.login-input:-webkit-autofill,
.login-input:-webkit-autofill:hover,
.login-input:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--accent-color);
  -webkit-box-shadow: 0 0 0px 1000px rgb(56, 56, 56) inset;
  box-shadow: 0 0 0px 1000px rgb(56, 56, 56) inset;
  font-size: 1.25rem;
}

.login-input-wrapper {
  display: inline-block;
  margin: 0 auto;
  width: 80%;
  font-size: 1.25rem;
}

.login-input-wrapper:not(.login-input-wrapper:first-child) {
  padding-top: 25px;
}

.registration-link {
  margin-top: 10px;
  color: white;
}

.login-error {
  color: rgb(201, 43, 40);
  font-size: 1.25rem;
  margin-left: 5px;
}