#login-page {
  min-width: 600px;
  max-width: 600px;
  min-height: 450px;
  max-height: 450px;
  background-color: rgb(56, 56, 56);
  position: absolute;
  top: 20vh;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 15px;
}
#header {
  height: 40px;
  font-weight: bold;
  color: white;
  min-height: 30px;
  background-color: rgb(43, 171, 211);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  font-size: 19pt;
}

#login-btn {
  height: 50px;
  min-height: 30px;
  width: 200px;
  min-width: 66px;
  position: relative;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 50px;
  font-size: 15pt;
  color: white;
  background-color: rgb(43, 171, 211);
  border: rgb(43, 171, 211);
  filter: drop-shadow(1px 5px 5px rgba(0, 0, 0, 0.25));
}

#login-label {
  color: rgb(43, 171, 211);
  float: left;
  font-size: 20px;
  margin-left: 5px;
}

#login-input {
  height: 50px;
  min-height: 30px;
  width: 100%;
  border-radius: 15px;
  background-color: rgb(56, 56, 56);
  border: 2.5px solid rgb(43, 171, 211);
  color: rgb(43, 171, 211);
}

#input {
  padding-top: 25px;
  display: inline-block;
  margin: 0 auto;
  min-width: 400px;
  max-width: 20vw;
  font-size: 20px;
}

#main-section {
  padding-top: 30px;
}

#reg {
  margin-top: 10px;
  color: white;
}

#error {
  color: rgb(201, 43, 40);
  font-size: 20px;
  margin-left: 5px;
}
