.create-task-page {
  display: inline-block;
  margin: 0 auto;
}

.create-task-form {
  margin-top: 50px;
  text-align: center;
}

.add-answer-button {
  height: 35px;
  width: 35px;
  margin: auto;
  border-radius: 50%;
  font-size: 15pt;
  color: white;
  background-color: var(--accent-color);
  border: var(--accent-color);
  filter: drop-shadow(1px 5px 5px var(--shadow-color));
}

.small-label {
  color: var(--accent-color);
  float: left;
  font-size: 1.25rem;
  margin-left: 5%;
}

.type-label {
  color: var(--accent-color);
  font-size: 1.25rem;
}

.required-label {
  position: relative;
  float: left;
  margin-left: 1%;
  color: rgb(201, 43, 40);
  font-size: 1rem;
}

.required-star {
  color: rgb(201, 43, 40);
  font-size: 1.25rem;
}

.big-label {
  color: var(--accent-color);
  float: left;
  font-size: 1.25rem;
  margin-left: 2.5%;
}

.mult-label {
  color: var(--accent-color);
  float: left;
  font-size: 1.25rem;
  margin-left: 2.5%;
}

.correct-label {
  color: var(--accent-color);
  padding: 0;
  font-size: 1.25rem;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
}

.category-dropdown {
  height: 40px;
  width: 90%;
  border-radius: 10px;
  background-color: var(--main-shade-color);
  border: 2.5px solid var(--accent-color);
  color: var(--accent-color);
  box-shadow: 0px 3px 8px 1px var(--shadow-color);
}

.type-dropdown {
  height: 40px;
  width: 50%;
  max-width: 350px;
  border-radius: 10px;
  background-color: var(--main-shade-color);
  border: 2.5px solid var(--accent-color);
  color: var(--accent-color);
  box-shadow: 0px 3px 8px 1px var(--shadow-color);
}

.big-input {
  height: 60px;
  min-height: 60px;
  max-height: 150px;
  width: 95%;
  border-radius: 10px;
  background-color: var(--main-shade-color);
  border: 2.5px solid var(--accent-color);
  color: var(--accent-color);
}

.big-input.summary-input {
  height: 40px;
  min-height: 0;
  max-height: none;
}

.multiple-input {
  height: 40px;
  border-radius: 10px;
  background-color: var(--main-shade-color);
  border: 2.5px solid var(--accent-color);
  color: var(--accent-color);
}

.half-input {
  padding-top: 20px;
  display: inline-block;
  margin: 0 auto;
  min-width: 400px;
  max-width: 30vw;
  font-size: 1.25rem;
}

.full-input {
  padding-top: 20px;
  display: inline-block;
  width: 100%;
  font-size: 1.25rem;
  background-color: var(--main-shade-color);
}

.small-input {
  height: 40px;
  width: 90%;
  border-radius: 10px;
  background-color: var(--main-shade-color);
  border: 2.5px solid var(--accent-color);
  color: var(--accent-color);
}

.answer-delete-button {
  color: rgb(201, 43, 40);
  border: 1px solid rgb(201, 43, 40);
  border-radius: 5px;
}

.multiple-checkbox {
  background-color: var(--main-shade-color);
  border-radius: 10px;
  color: var(--accent-color);
  font-size: 30px;
}
