.create-task-form {
  margin-top: 30px;
  text-align: center;
}

.create-task-form .input-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.create-task-form .input-column > label {
  align-self: flex-start;
}

/* plus icon because the normal + character aligns the same way as a non-capital letter would - a bit lower from the middle line */
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

.create-task-form .add-answer-button {
  position: relative;
  padding: 0;
  min-width: unset;
  width: 40px;
  border-radius: 50%;
}

.create-task-form .add-answer-button > * {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.3rem;
  font-weight: 400;
}

.create-task-form .small-label {
  color: var(--accent-color);
  float: left;
  font-size: 1.25rem;
  margin-left: 5%;
}

.create-task-form .type-label {
  color: var(--accent-color);
  font-size: 1.25rem;
}

.task-required-label {
  position: relative;
  float: left;
  margin-left: 1%;
  color: rgb(201, 43, 40);
  font-size: 1rem;
}

.create-task-form .required-star {
  color: rgb(201, 43, 40);
}

.create-task-form .big-label {
  color: var(--accent-color);
  float: left;
  font-size: 1.25rem;
  margin-left: 2.5%;
}

.create-task-form .mult-label {
  color: var(--accent-color);
  float: left;
  font-size: 1.25rem;
  margin-left: 2.5%;
}

.create-task-form .correct-label {
  color: var(--accent-color);
  padding: 0;
  font-size: 1.25rem;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
}

.create-task-form .category-dropdown {
  height: 40px;
  width: 90%;
  border-radius: 10px;
  background-color: var(--main-shade-color);
  border: 2.5px solid var(--accent-color);
  color: var(--accent-color);
  box-shadow: 0px 3px 8px 1px var(--shadow-color);
}

.create-task-form .type-dropdown {
  height: 40px;
  width: 50%;
  max-width: 350px;
  border-radius: 10px;
  background-color: var(--main-shade-color);
  border: 2.5px solid var(--accent-color);
  color: var(--accent-color);
  box-shadow: 0px 3px 8px 1px var(--shadow-color);
}

.create-task-form .big-input {
  height: 60px;
  min-height: 60px;
  max-height: 150px;
  width: 95%;
  border-radius: 10px;
  background-color: var(--main-shade-color);
  border: 2.5px solid var(--accent-color);
  color: var(--accent-color);
}

.create-task-form .big-input.summary-input {
  height: 40px;
  min-height: 0;
  max-height: none;
}

.create-task-form textarea.big-input {
  overflow: hidden;
}

.create-task-form .multiple-input {
  height: 40px;
  border-radius: 10px;
  background-color: var(--main-shade-color);
  border: 2.5px solid var(--accent-color);
  color: var(--accent-color);
}

.create-task-form .small-input {
  height: 40px;
  width: 90%;
  border-radius: 10px;
  background-color: var(--main-shade-color);
  border: 2.5px solid var(--accent-color);
  color: var(--accent-color);
}

.create-task-form .answer-delete-button {
  color: rgb(201, 43, 40);
  border: 1px solid rgb(201, 43, 40);
  border-radius: 5px;
}

.create-task-form .multiple-checkbox {
  background-color: var(--main-shade-color);
  border-radius: 10px;
  color: var(--accent-color);
  font-size: 30px;
}
