.create-category-form {
  margin-top: 10px;
  text-align: center;
}

.input-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.input-column > label {
  align-self: flex-start;
}

.big-label {
  color: var(--accent-color);
  float: left;
  font-size: 1.25rem;
}

.big-input {
  height: 60px;
  min-height: 60px;
  max-height: 150px;
  width: 95%;
  border-radius: 10px;
  background-color: var(--main-shade-color);
  border: 2.5px solid var(--accent-color);
  color: var(--accent-color);
}

.big-input.title-input {
  height: 40px;
  min-height: 0;
  max-height: none;
}

.required-star {
  color: rgb(201, 43, 40);
}

.required-label {
  position: relative;
  float: left;
  margin-left: 1%;
  color: rgb(201, 43, 40);
  font-size: 1rem;
}

.category-creation-buttons {
  gap: 10px;
}
