.empty-modal {
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 80%;
  background-color: #383838;
  border-radius: 15px;
  box-shadow: 24;
  overflow: auto;
}

.modal-header {
  position: absolute;
  background-color: #2babd3;
  top: 0;
  width: 100%;
  left: 0;
  border-radius: 15px !important;
  font-family: 'Inter', sans-serif;
  color: white;
  font-weight: 900;
  margin: 0;
  padding: 0;
}

.modal-header-hidden {
  opacity: 0;
  margin: 0;
  padding: 0;
}

.modal-header-text {
  position: absolute;
  left: 48%;
  top: 1%;
  font-size: 20px;
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
}

.modal-close-button {
  position: absolute;
  top: 2%;
  left: 94%;
  z-index: 3;
  width: 10px;
  height: 10px;
}

.modal-close-button-text {
  font-size: 20px;
  color: white;
  top: -10px;
  font-weight: bold;
  font-family: 'Inter', sans-serif;
}

.modal-main-body {
  position: absolute;
  top: 10%;
  color: #2babd3;
  font-family: 'Inter', sans-serif;
}
