.task-button-wrapper {
  position: relative;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 20px;
  min-width: 800px;
}

.task-button-wrapper .filter-wrapper {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.filter-wrapper label {
  color: var(--accent-color);
  font-size: 1.1rem;
  font-weight: bold;
  vertical-align: middle;
}

.filter-wrapper .Mui-checked {
  color: var(--accent-color) !important;
}

#category-filter {
  width: 150px;
  border-radius: 10px;
  background-color: var(--main-shade-color);
  border: 2.5px solid var(--accent-color);
  color: var(--accent-color);
  box-shadow: 0px 3px 8px 1px var(--shadow-color);
  margin: 9px;
}

.tasks-table-wrapper {
  height: 80%;
  margin-top: 20px;
  margin-bottom: 20px;
  min-width: 800px;
}

.no-rows-overlay {
  background-color: #3e3e3e;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
