.button-wrapper {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 20px;
  min-width: 800px;
}

.tasks-table-wrapper {
  height: 80%;
  margin-top: 20px;
  margin-bottom: 20px;
  min-width: 800px;
}
