.button-wrapper {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 20px;
  min-width: 800px;
}

.tasks-table-wrapper {
  height: 80%;
  margin-top: 20px;
  margin-bottom: 20px;
  min-width: 800px;
}

.no-rows-overlay {
  background-color: #3e3e3e;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
