@import url('https://fonts.cdnfonts.com/css/proxima-nova-2');

html,
body,
#root,
.App {
  height: 100%;
}

:root {
  --main-shade-color: #383838;
  --main-color: #2C2C2C;
  --accent-color: #2BABD3;
  --accent-shade-color: #2289A9;
  --shadow-color: rgba(0, 0, 0, 0.35);
}

body,
html {
  font-family: 'Proxima Nova', sans-serif !important;
  color: white !important;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.button-primary {
  cursor: pointer;
  border-radius: 20px;
  padding: 0 16px;
  height: 40px;
  line-height: 1;
  font-size: 1.1rem;
  background-color: var(--accent-color);
  color: white;
  font-weight: 500;
  border: none;
  transition-property: background-color;
  transition-duration: .5s;
  box-shadow: 0px 3px 8px 1px var(--shadow-color);
  letter-spacing: 1px;
  min-width: 120px;
  text-align: center;  
}

.button-primary:hover {
  background-color: var(--accent-shade-color);
}