.separation {
  height: 2px;
  background-color: #2babd3;
  width: 100%;
}
p {
  padding: 0px;
  color: white;
  text-align: start;
}
label {
  font-weight: bold;
  color: #2babd3;
}
.border-2 {
  background-color: black;
}
